In [3]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */


/* Q12: Find the facilities with their usage by member, but not guests */


/* Q13: Find the facilities usage by month, but not guests */

In [34]:

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT facname, SUM(revenue) AS total_revenue 
        FROM
        (SELECT name AS facname, CASE WHEN memid<>0 THEN membercost*slots ELSE guestcost*slots END AS revenue 
         FROM Bookings 
         INNER JOIN Facilities 
         USING (facid)) AS sub 
         GROUP BY facname 
         HAVING total_revenue<1000 
         ORDER BY total_revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q10- Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Q10- Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [9]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [32]:

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.surname, m.firstname, r.surname|| ' ' ||r.firstname AS recommendedName
        FROM Members AS m
        INNER JOIN Members AS r
        ON r.memid=m.recommendedby
        ORDER BY m.surname, m.firstname;
        
 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q11- Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Q11- Query all tasks
('Bader', 'Florence', 'Stibbons Ponder')
('Baker', 'Anne', 'Stibbons Ponder')
('Baker', 'Timothy', 'Farrell Jemima')
('Boothe', 'Tim', 'Rownam Tim')
('Butters', 'Gerald', 'Smith Darren')
('Coplin', 'Joan', 'Baker Timothy')
('Crumpet', 'Erica', 'Smith Tracy')
('Dare', 'Nancy', 'Joplette Janice')
('Genting', 'Matthew', 'Butters Gerald')
('Hunt', 'John', 'Purview Millicent')
('Jones', 'David', 'Joplette Janice')
('Jones', 'Douglas', 'Jones David')
('Joplette', 'Janice', 'Smith Darren')
('Mackenzie', 'Anna', 'Smith Darren')
('Owen', 'Charles', 'Smith Darren')
('Pinker', 'David', 'Farrell Jemima')
('Purview', 'Millicent', 'Smith Tracy')
('Rumney', 'Henrietta', 'Genting Matthew')
('Sarwin', 'Ramnaresh', 'Bader Florence')
('Smith', 'Jack', 'Smith Darren')
('Stibbons', 'Ponder', 'Tracy Burton')
('Worthington-Smyth', 'Henry', 'Smith Tracy')

In [15]:
#Q12: Find the facilities with their usage by member, but not guests */

In [31]:

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
       SELECT f.name, COUNT(facid) AS facilityusage
FROM Bookings AS b
LEFT JOIN Facilities AS f
USING (facid)
WHERE b.memid<>0
GROUP BY facid;
 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q12- Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Q12- Query all tasks
('Tennis Court 1', 308)
('Tennis Court 2', 276)
('Badminton Court', 344)
('Table Tennis', 385)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Squash Court', 195)
('Snooker Table', 421)
('Pool Table', 783)

In [17]:
#Q13: Find the facilities usage by month, but not guests */

In [30]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
       SELECT f.name, strftime('%m', datetime(starttime)) AS month, COUNT(facid) AS facilityusage
FROM Bookings AS b
LEFT JOIN Facilities AS f
USING (facid)
WHERE b.memid<>0
GROUP BY facid, month;
 
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q13- Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Q13- Query all tasks
('Tennis Court 1', '07', 65)
('Tennis Court 1', '08', 111)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '07', 41)
('Tennis Court 2', '08', 109)
('Tennis Court 2', '09', 126)
('Badminton Court', '07', 51)
('Badminton Court', '08', 132)
('Badminton Court', '09', 161)
('Table Tennis', '07', 48)
('Table Tennis', '08', 143)
('Table Tennis', '09', 194)
('Massage Room 1', '07', 77)
('Massage Room 1', '08', 153)
('Massage Room 1', '09', 191)
('Massage Room 2', '07', 4)
('Massage Room 2', '08', 9)
('Massage Room 2', '09', 14)
('Squash Court', '07', 23)
('Squash Court', '08', 85)
('Squash Court', '09', 87)
('Snooker Table', '07', 68)
('Snooker Table', '08', 154)
('Snooker Table', '09', 199)
('Pool Table', '07', 103)
('Pool Table', '08', 272)
('Pool Table', '09', 408)